@model Reload.Web.Models.Account.User

@{
	Layout = "~/Views/Shared/Layouts/UnauthenticatedLayout.cshtml";
	ViewBag.Title = "Log In";
}

@section Scripts{
	@Scripts.Render("~/bundles/jqueryvalidation")
}

<h2>Start Here</h2>

@if(ViewBag.AutoLogout ?? false)
{
<h3>You have been automatically logged out due to inactivity.</h3>
}

<fieldset>
	<legend>Login to your account</legend>
	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true)
		<p>
			@Html.LabelFor(u => u.Email)
			@Html.MaxLengthTextBoxFor(u => u.Email, new { @class = "form-control" })
			@Html.ValidationMessageFor(u => u.Email)
		</p>
		<p>
			@Html.LabelFor(u => u.Password)
			@Html.PasswordFor(u => u.Password, new { @class = "form-control" })
			@Html.ValidationMessageFor(u => u.Password)
		</p>
		@Html.Hidden("ReturnUrl", Request.QueryString.Get("returnUrl"))
		<button type="submit" class="btn btn-primary">Login</button>
	}
</fieldset>

<p>@Html.ActionLink("Sign up!", "Register")</p>