@model Reload.Common.Authentication.UserLogin

<h2>Manage your account</h2>
<fieldset>
	<legend>Profile</legend>
	@using (Html.BeginForm())
	{
		@Html.ValidationSummary(true)
		<div>
			@Html.LabelFor(u => u.Email)
			@Html.MaxLengthTextBoxFor(u => u.Email)
			@Html.ValidationMessageFor(u => u.Email)
		</div>
		<div>
			@Html.LabelFor(u => u.Password)
			@Html.PasswordFor(u => u.Password)
			@Html.ValidationMessageFor(u => u.Password)
		</div>
		<button type="submit">Save</button>
	}
</fieldset>