@model Reload.Web.Models.Account.UnregisteredUser

@{
	Layout = "~/Views/Shared/Layouts/UnauthenticatedLayout.cshtml";
	ViewBag.Title = "Register";
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryvalidation")

	<script src="@Url.Content("~/Scripts/Site/Account/Account.js")"></script>
}

<h2>Become a member</h2>
<fieldset>
	<legend>Create an account</legend>
	@using (Html.BeginForm())
	{
		@Html.ValidationSummary(true)
		<div>
			@Html.LabelFor(u => u.Email)
			@Html.MaxLengthTextBoxFor(u => u.Email)
			@Html.ValidationMessageFor(u => u.Email)
		</div>
		<div>
			@Html.LabelFor(u => u.ConfirmEmail)
			@Html.MaxLengthTextBoxFor(u => u.ConfirmEmail)
			@Html.ValidationMessageFor(u => u.ConfirmEmail)
		</div>
		<div>
			@Html.LabelFor(u => u.Password)
			@Html.PasswordFor(u => u.Password)
			@Html.ValidationMessageFor(u => u.Password)
		</div>
		<div>
			@Html.LabelFor(u => u.ConfirmPassword)
			@Html.PasswordFor(u => u.ConfirmPassword)
			@Html.ValidationMessageFor(u => u.ConfirmPassword)
		</div>
		<div>
			@Html.LabelFor(u => u.FirstName)
			@Html.MaxLengthTextBoxFor(u => u.FirstName)
			@Html.ValidationMessageFor(u => u.FirstName)
		</div>
		<div>
			@Html.LabelFor(u => u.LastName)
			@Html.MaxLengthTextBoxFor(u => u.LastName)
			@Html.ValidationMessageFor(u => u.LastName)
		</div>
		<button type="submit" class="btn btn-primary">Sign Up</button>
	}
</fieldset>
<p>@Html.ActionLink("Already a user?", "Login")</p>
