@model Reload.Web.Models.Account.UnregisteredUser

@{
	Layout = "~/Views/Shared/Layouts/UnauthenticatedLayout.cshtml";
	ViewBag.Title = "Register";
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryvalidation")
}

<h2>Become a member</h2>

<fieldset>
	<legend>Create an account</legend>
	@using(Html.BeginForm())
	{
		@Html.ValidationSummary(true)
		<p>
			@Html.LabelFor(u => u.Email)
			@Html.MaxLengthTextBoxFor(u => u.Email, new { @class = "form-control" })
			@Html.ValidationMessageFor(u => u.Email)
		</p>
		<p>
			@Html.LabelFor(u => u.ConfirmEmail)
			@Html.MaxLengthTextBoxFor(u => u.ConfirmEmail, new { @class = "form-control" })
			@Html.ValidationMessageFor(u => u.ConfirmEmail)
		</p>
		<p>
			@Html.LabelFor(u => u.Password)
			@Html.PasswordFor(u => u.Password, new { @class = "form-control" })
			@Html.ValidationMessageFor(u => u.Password)
		</p>
		<p>
			@Html.LabelFor(u => u.ConfirmPassword)
			@Html.PasswordFor(u => u.ConfirmPassword, new { @class = "form-control" })
			@Html.ValidationMessageFor(u => u.ConfirmPassword)
		</p>
		<p>
			@Html.LabelFor(u => u.FirstName)
			@Html.MaxLengthTextBoxFor(u => u.FirstName, new { @class = "form-control" })
			@Html.ValidationMessageFor(u => u.FirstName)
		</p>
		<p>
			@Html.LabelFor(u => u.LastName)
			@Html.MaxLengthTextBoxFor(u => u.LastName, new { @class = "form-control" })
			@Html.ValidationMessageFor(u => u.LastName)
		</p>
		<p class="FormFooter">
			<button type="submit" class="btn btn-primary">Sign Up</button>
		</p>
	}
</fieldset>
<p>@Html.ActionLink("Already a user?", "Login")</p>
