<!DOCTYPE html>
<html lang="en">
<head>
	<title>@(ViewBag.Title ?? "Reloading Data Source")</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />

	<link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.png")" type="image/png">

	@Styles.Render("~/bundles/bootstrapcss")
	@Styles.Render("~/bundles/sitecss", "~/Content/themes/Reload/jqueryuicss")
	
	@RenderSection("HeadIncludes", required: false)
</head>
<body>
	<header>
		<h1>Reloading Data Source</h1>
		<div class="Menu">
			@RenderSection("SiteMenu", required: true)
		</div>
	</header>
	<div class="Page">@RenderBody()</div>
	<footer>
		<div class="Footer">&copy; Copyright</div>
	</footer>

	@Scripts.Render("~/bundles/jqueryjs", "~/bundles/jqueryuijs")

	@RenderSection("Scripts", required: false)
</body>
</html>