<!DOCTYPE html>
<html lang="en">
<head>
	<title>@(ViewBag.Title ?? "Reloading Data Source")</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />

	@if(Request.IsAuthenticated)
	{
		<meta name="meta-refresh" http-equiv="refresh" content="@(FormsAuthentication.Timeout.TotalSeconds);url=@FormsAuthentication.LoginUrl?autologout=true" />
	}

	<link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.png")" type="image/png">
	
	@RenderSection("HeadIncludes", required: false)

	@Styles.Render("~/bundles/bootstrapcss")
	@Styles.Render("~/bundles/sitecss", "~/Content/themes/Reload/jqueryuicss")
</head>
<body>
	<header>
		<h1>Reloading Data Source</h1>
		<div class="Menu">
			@Html.Partial("SiteMenu")
		</div>
	</header>
	<div class="Page">@RenderBody()</div>
	<footer>
		<div class="Footer">&copy; Copyright</div>
	</footer>

	@Scripts.Render("~/bundles/jqueryjs", "~/bundles/jqueryuijs")
	
	@RenderSection("Scripts", required: false)

	@if(Request.IsAuthenticated)
	{
		@Scripts.Render("~/bundles/sitejs")
	}
</body>
</html>