@model Reload.Web.Models.Account.User
@using Reload.Web.Helpers.Mvc;

@{
	ViewBag.Title = "Log In";
}

@section Scripts{
	@Scripts.Render("~/bundles/jqueryvalidation")

	<script src="@Url.Content("~/Scripts/Site/Account/Account.js")"></script>
}

<h2>Start Here</h2>
@if(ViewBag.AutoLogout ?? false)
{
<h3>You have been automatically logged out due to inactivity.</h3>
}
<fieldset>
	<legend>Login to your account</legend>
	@using (Html.BeginForm())
	{
		@Html.ValidationSummary(true)
		<div>
			@Html.LabelFor(u => u.Email)
			@Html.MaxLengthTextBoxFor(u => u.Email)
			@Html.ValidationMessageFor(u => u.Email)
		</div>
		<div>
			@Html.LabelFor(u => u.Password)
			@Html.PasswordFor(u => u.Password)
			@Html.ValidationMessageFor(u => u.Password)
		</div>
		@Html.Hidden("ReturnUrl", Request.QueryString.Get("returnUrl"))
		<button type="submit" class="btn btn-primary">Login</button>
	}
</fieldset>
<p>@Html.ActionLink("Sign up!", "Register")</p>