
@{
    ViewBag.Title = "My Firearms";
}

@section HeadIncludes {
	@Styles.Render("~/bundles/angularblockuicss")
}

@section Scripts {
	@Scripts.Render(
		"~/bundles/angularjs",
		"~/bundles/angularui",
		"~/bundles/angularblockuijs"
	)

	@Scripts.Render("~/bundles/authorization")

	@Scripts.Render("~/bundles/reloaduijs")

	@Scripts.Render("~/bundles/firearms")
}

<div ng-app="FirearmManager" block-ui="main">
	<div ng-view=""></div>
</div>