@model Reload.Web.Areas.User.Models.PasswordChangeViewModel

<div class="modal-header">
	<h3 class="modal-title">Change password</h3>
</div>

<form name="PasswordForm" ng-submit="Save()" novalidate>
	<div class="modal-body">
		<p>
			@Html.LabelFor(p => p.OldPassword)
			@Html.NgTextBoxFor(p => p.OldPassword, new { @class = "form-control", type = "password", ng_model = "OldPassword" })
			<div ng-if="PasswordForm.OldPassword.$dirty" ng-messages="PasswordForm.OldPassword.$error">
				@Html.NgValidationMessagesFor(p => p.OldPassword)
			</div>
		</p>
		<p>
			@Html.LabelFor(p => p.NewPassword)
			@Html.NgTextBoxFor(p => p.NewPassword, new { @class = "form-control", type = "password", ng_model = "NewPassword" })
			<div ng-if="PasswordForm.NewPassword.$dirty" ng-messages="PasswordForm.NewPassword.$error">
				@Html.NgValidationMessagesFor(p => p.NewPassword)
			</div>
		</p>
		<p>
			@Html.LabelFor(p => p.ConfirmPassword)
			@Html.NgTextBoxFor(p => p.ConfirmPassword, new { @class = "form-control", type = "password", ng_model = "ConfirmPassword", compare_to = "NewPassword" })
			<div ng-if="PasswordForm.ConfirmPassword.$dirty" ng-messages="PasswordForm.ConfirmPassword.$error">
				@Html.NgValidationMessagesFor(p => p.ConfirmPassword)
				<span ng-message="compareTo">The new and confirm password do not match</span>
			</div>
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="submit" ng-disabled="PasswordForm.$invalid || SavePending">OK</button>
		<button class="btn btn-warning" type="button" ng-click="Cancel()">Cancel</button>
	</div>
</form>