@model Reload.Common.Authentication.UserLogin

@{
	ViewBag.Title = "Manage Account";
}

@section Scripts {
	@Scripts.Render(
		"~/bundles/angularjs",
		"~/bundles/angularui"
	)

	@Scripts.Render("~/bundles/usermanager")
}

<h2>Manage Account</h2>

<div ng-app="UserManager" ng-controller="UserController">
	<form name="UserForm" style="width: 400px;" ng-submit="Save()" novalidate>
		<div>
			@Html.LabelFor(u => u.Email)
			@Html.NgTextBoxFor(u => u.Email, new { @class = "form-control", ng_model = "User.Email", email_unique_validator = "", ng_model_options = "ModelValidateOptions" })
			<div ng-messages="UserForm.Email.$error">
				@Html.NgValidationMessagesFor(u => u.Email)
				<span ng-message="emailAvailable"> {{ UserForm.Email.emailValidationErrorMessage }}</span>
			</div>
		</div>
		<div>
			@Html.LabelFor(u => u.FirstName)
			@Html.NgTextBoxFor(u => u.FirstName, new { @class = "form-control", ng_model = "User.FirstName" })
			<div ng-messages="UserForm.FirstName.$error">
				@Html.NgValidationMessagesFor(u => u.FirstName)
			</div>
		</div>
		<div>
			@Html.LabelFor(u => u.LastName)
			@Html.NgTextBoxFor(u => u.LastName, new { @class = "form-control", ng_model = "User.LastName" })
			<div ng-messages="UserForm.LastName.$error">
				@Html.NgValidationMessagesFor(u => u.LastName)
			</div>
		</div>
		<p class="FormFooter">
			<a style="cursor: pointer; float: left;" ng-click="ChangePassword()" ng-hide="PasswordSaved">Change password</a>
			<strong style="float: left;" ng-show="PasswordSaved">Password Saved</strong>
			<button class="btn btn-success" type="submit" ng-disabled="FormValidation()">Save</button>
		</p>
	</form>
</div>