@model Reload.Common.Authentication.UserLogin

@{
	ViewBag.Title = "Manage Account";
}

@section Scripts {
	@Scripts.Render("~/bundles/angularjs", "~/bundles/angularui")

	@Scripts.Render("~/bundles/usermanager")
}

<h2>Manage Account</h2>

<div ng-app="UserManager" ng-controller="UserController">
	<form name="UserForm" style="width: 400px;" ng-submit="Save()" novalidate>
		<div>
			@Html.LabelFor(u => u.Email)
			<input class="form-control" ng-model="User.Email" name="Email" type="email" required email-unique-validator ng-model-options="ModelValidateOptions" />
			<div ng-messages="UserForm.Email.$error">
				<span ng-message="required">Email field required</span>
				<span ng-message="email">Valid email required</span>
				<span ng-message="emailAvailable">The email address is already in use</span>
			</div>
		</div>
		<div>
			@Html.LabelFor(u => u.FirstName)
			<input class="form-control" name="FirstName" ng-model="User.FirstName" required />
			<div ng-messages="UserForm.FirstName.$error">
				<span ng-message="required">The First Name field is required</span>
			</div>
		</div>
		<div>
			@Html.LabelFor(u => u.LastName)
			<input class="form-control" name="LastName" ng-model="User.LastName" required />
			<div ng-messages="UserForm.LastName.$error">
				<span ng-message="required">The Last Name field is required</span>
			</div>
		</div>
		<p class="FormFooter">
			<a style="cursor: pointer; float: left;" ng-click="ChangePassword()" ng-hide="PasswordSaved">Change password</a>
			<strong style="float: left;" ng-show="PasswordSaved">Password Saved</strong>
			<button class="btn btn-success" type="submit" ng-disabled="FormValidation()">Save</button>
		</p>
	</form>
</div>